<div id="meetup-status">
  <p>
    <span class="badge badge-pill badge-primary"> {{ num_partcipation }} </span>
    nehmen teil.
  </p>
  <p>
    <span class="badge badge-pill badge-primary"> {{ num_interest }} </span>
    sind interessiert
  </p>
</div>


